<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Update Password </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <h2>Ubah Password</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card justify-content-center">
                <div class="card-header">
                    Ubah Password
                </div>
                <div class="card-body">
                    <form th:action="@{/user/update}" th:object="${user}" method="POST">
                        <input type="hidden" th:field="*{id}" />
                        <input type="hidden" th:field="*{username}" />
                        <input type="hidden" th:field="*{nama}" />
                        <input type="hidden" th:field="*{email}" />
                        <input type="hidden" th:field="*{password}" />
                        <input type="hidden" th:field="*{role}" />

                        <div class="row form-group">
                            <label class="col-sm-4">Password Lama:</label>
                            <input required type="password" name="passwordlama" th:value="${passwordlama}" class="col-sm-8 form-control input-sm"/>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4">Password Baru:</label>
                            <input required type="password" name="passwordbaru" th:value="${passwordbaru}" class="col-sm-8 form-control input-sm"/>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4">Konfirmasi Password Baru:</label>
                            <input required type="password" name="konfirmasi" th:value="${konfirmasi}" class="col-sm-8 form-control input-sm"/>
                        </div>
                        <div class="row form-group">
                            <br>
                            <br>
                            <button type="submit" class="btn btn-primary">Simpan</button>
                            <a class="btn btn-outline-primary" href="/">Kembali</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>